<style>
    .navca{
        margin:10px;
    }
</style>

<a class="navca" href="/contests/quespage">Problems</a>

<a class="navca" href="/contests/submissions/1">Submissions</a>
<a class="navca" href="/contests/status/1">Status</a>