<style>
    .navca{
        margin:10px;
    }
</style>

<a class="navca" href="/contests/quespage">Problems</a>
{{#if isAuthenticated}}
    <a class="navca" href="/users/{{user}}/submissions/1">Submissions</a>
{{/if}}
<a class="navca" href="/contests/status/1">Status</a>
