<form action="/admin/addquestion" method="POST" enctype="multipart/form-data">
  

  <label for="probCode">Problem Code</label>
  <input type="text" id="probCode" name="probCode">
  <br/>
  <label for="probSetter">Problem Setter</label>
  <input type="text" id="probSetter" name="probSetter">
  <br/>
  <label for="probTester">Problem Tester</label>
  <input type="text" id="probTester" name="probTester">
  <br/>
  <label for="statement">Statement</label>
  <input type="file" id="statement" name="statement">
  <br/>
  <label for="numofinputfiles">Number of test files</label>
  <input type="number" id="numofinputfiles" name="numofinputfiles">
  <br/>
  <label for="numofexfiles">Number of example files</label>
  <input type="number" id="numofexfiles" name="numofexfiles">
  <br/>
  <label for="score">Score</label>
  <input type="number" id="score" name="score">
  <br/>
  <label for="tl">Time limit in seconds</label>
  <input type="number" id="tl" name="tl">
  <br/>
  <label for="ml">Memory Limit in Mega Bytes</label>
  <input type="number" id="ml" name="ml">
  <br/>
  <input type="submit" value="submit" />
</form>


