<style>
    .tab tr th, .tab tr td{
        padding:8px;
        text-align: center;
        justify-content: center;
    }

    .heading{
        color: #337ab7;
        background: rgba(0, 0, 0, 0);
        border:none;
    }

    
</style>

<br />

<table class="tab" border = "1px solid #000">
    <tr>
        <form id="allprob" method="POST" action="/admin/allprob">
            <th><button class="heading" type = "submit" value="probCode" name="sort">Problem Code</button></th>
            <th><button class="heading" type = "submit" value="score" name="sort">Score</button></th>
        </form>

        <th>Details</th>
    </tr>
    
    {{#each obj}}
        <tr>
            <td>{{probCode}}</td>
            <td>{{score}}</td>
            <td><a href="/admin/statement/{{this.probCode}}">Click</a></td>
        </tr>
    {{/each}}
</table>