<style>
    .tab tr th, .tab tr td{
        padding:8px;
        text-align: center;
        justify-content: center;
    }

    .heading{
        color: #337ab7;
        background: rgba(0, 0, 0, 0);
        border:none;
    }

    
</style>

<br />

<table id='tab' class="tab" border = "1px solid #000">
    <thead>
        <tr>
            {{!-- <form id="allprob" method="POST" action="/admin/allprob"> --}}
                <th><button id="code" class="heading" type = "submit" value="probCode" name="sort">Problem Code</button></th>
                <th><button id="score" class="heading" type = "submit" value="score" name="sort">Score</button></th>
            {{!-- </form> --}}

            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>




<script src="/js/ajax.js"></script>

