
<div>

  
  {{#if isAuthenticated}}
  	<h1>Welcome to our community</h1>


  {{else}}
  	You can register yourself
  {{/if}}

  <h1>Home page</h1>
  <p>
    <a href = "/contests">See Contests</a>
  </p>

  



 
  
</div>

