
<div>

  <div class="jumbotron text-center" style="width:100%">

  	<h1>Welcome to BiT Legion</h1>

  </div>

  

  
  <div class="container">
    <div class="row" style="margin: 20px;">
      <div class="col-sm-6">
        <a href = "/contests" style="color:#fff;">
          <div class = "card bg-dark text-center">
            <div class="card-body">
              Contests
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href = "/contests" style="color:#fff;">
          <div class = "card bg-dark text-center">
            <div class="card-body">
              Announcements
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row" style="margin: 20px;">
      <div class="col-sm-6">
        <a href = "/contests" style="color:#fff;">
          <div class = "card bg-dark text-center">
            <div class="card-body">
              Discussions
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href = "/contests" style="color:#fff;">
          <div class = "card bg-dark text-center">
            <div class="card-body">
              Leaderboard
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>


 
  
</div>

