
<div>

  <div class="jumbotron text-center" style="width:100%">

  	<h1 class="display-4">Welcome to BiT Legion</h1>

  </div>

  

  
  <div class="container">
    <div class="row" style="margin: 20px;">
      <div class="col-sm-6">
        <a href = "/contests" style="color:#fff;">
          <div class = "card bg-dark text-center">
            <div class="card-body">
              Contests
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        
        <form action="https://iiitp-blog.herokuapp.com/" method="POST">
           <input type="text" hidden value={{email}} name="email">
           <input type="text" hidden value={{password}} name="password">
           <button tyep="submit"> Submit</button>

        </form>
        {{!-- <a href = "/users/disscussion" style="color:#fff;">
          <div class = "card bg-dark text-center">
            <div class="card-body">
              Discussions/Announcements
            </div>
          </div>
        </a> --}}
      </div>
    </div>
    <div class="row" style="margin: 20px;">
      <div class="col-sm-6">
        <a href = "/contests/status/1" style="color:#fff;">
          <div class = "card bg-dark text-center">
            <div class="card-body">
              Status
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href = "/contests" style="color:#fff;">
          <div class = "card bg-dark text-center">
            <div class="card-body">
              Leaderboard
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>


 
  
</div>

