<form action="/users/login" method="POST">
  <h2 class="form-signin-heading">Please sign in</h2>

  <label for="inputEmail">Email address</label>
  <input type="text" id="inputEmail" name="email" placeholder="Email address">
  <br /><br />
  <label for="inputPassword">Password</label>
  <input type="password" id="inputPassword" name="password" placeholder="Password">

  <br/>
  
  <button type="submit">Sign in</button>
</form>
