<form action="/users/register" method="POST">
  <h2>Register Yourself</h2>

  <label for="inputEmail">Email address</label>
  <input type="email" id="inputEmail" name="email" placeholder="Email address">
  <br /><br />
  <label for="inputUsername">Username</label>
  <input type="text" id="inputUsername" name="username" placeholder="Username">
  <br /><br />
  <label for="role">Role</label>
  <select name="role" id="role">
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select>
  <br /><br />
  <label for="inputPassword">Password</label>
  <input type="password" id="inputPassword" name="password" placeholder="Password">
  <br /><br />
  <label for="inputConfirmPassword">Confirm Password</label>
  <input type="password" id="inputConfirmPassword" name="confirmationPassword" placeholder="Confirm Password">
  <br /><br />
  <label for="Contact">Contact</label>
  <input type="text" id="contact" name="contact" placeholder="Contact">

  <br/><br/>

  <button type="submit">Sign up</button>
</form>