<form action="/users/register" method="POST">
  <h2>Register Yourself</h2>

  <label for="inputEmail">Email address</label>
  <input type="email" id="inputEmail" name="email" placeholder="Email address">
  <br /><br />
  <label for="inputUsername">Username</label>
  <input type="text" id="inputUsername" name="username" placeholder="Username">
  <br /><br />
  <label for="role">Role</label>
  <select name="role" id="role">
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select>
  <br /><br />
  <label for="inputPassword">Password</label>
  <input type="password" onkeyup="fn1()" id="inputPassword" name="password" placeholder="Password">
  <br /><br />
  <label for="inputConfirmPassword">Confirm Password</label>
  <input type="password" onkeyup="fn()" id="inputConfirmPassword" name="confirmationPassword" placeholder="Confirm Password">
  <p id="status"></p>
  <br /><br />
  <label for="Contact">Contact</label>
  <input type="text" id="contact" name="contact" placeholder="Contact">
  <br /><br />
  <label for="mode">Language</label>
  <select class="selectpicker" data-live-search="true" class="form-control" id="mode" onchange="changeMode()">
              <option value="C" id="C" selected>C</option>
              <option value="C++" id="C++">C++</option>
              <option value="Java" id="Java">Java</option>
              <option value="Python" id="Python">Python</option>
              <option value="Javascript" id="Javascript">Javasrcipt</option>
    </select>
    <input  type="hidden" name="flang" id="flang" value="C"> 
  <input  type="hidden" name="template" placeholder="Contact" value=" ">

  <br/><br/>

  <button type="submit">Sign up</button>
</form>

<script>
  function changeMode(){
    var y = document.getElementById("mode");
    var x = y.options[y.selectedIndex].value;
    console.log(x);
    document.getElementById("flang").value = x;
  }
  function fn(){
    var x = document.getElementById("inputPassword").value;
    var y = document.getElementById("inputConfirmPassword").value;
    var z = document.getElementById("status");
    
    if(x.length === 0 && y.length === 0){
      z.innerHTML = "Passwords are not mandatory!";
      z.style.color = "red";
      return;
    }
    if(x!=y){
      document.getElementById("status").innerHTML = "Passwords do not match!";
      var z = document.getElementById("status");
      z.style.color = "red";
    } else {
      if(x.length<8){
        z.innerHTML = "Password too short";
        z.style.color = "red";
      } else {
        document.getElementById("status").innerHTML = "Passwords matched!";
        var z = document.getElementById("status");
        z.style.color = "green";
      }
    }
  }
  function fn1(){
    var x = document.getElementById("inputPassword").value;
    var y = document.getElementById("inputConfirmPassword").value;
    if(x.length === 0 && y.length===0){
      var z = document.getElementById("status");
      z.innerHTML = "Passwords are mandatory";
      return;
    }
    if(y.length === 0){
      var z = document.getElementById("status");
      if(x.length === 0){
        z.innerHTML = "";
        return;
      }
      if(x.length<8){
        
        z.innerHTML = "Password too short";
        z.style.color = "red";
      } else {
        z.innerHTML = "";
      }
      return;
    }
    
    
    if(x!=y){
      document.getElementById("status").innerHTML = "Passwords do not match!";
      var z = document.getElementById("status");
      z.style.color = "red";
    } else {
      document.getElementById("status").innerHTML = "Passwords matched!";
      var z = document.getElementById("status");
      z.style.color = "green";
    }
  }
  $(document).ready(function() {
    $('.selectpicker').selectpicker();
    $('[data-toggle="tooltip"]').tooltip(); 
});
    
</script>