<form class="form-signin" action="/users/adminverify" method="POST">
  <h2 class="form-signin-heading">Enter Admin Code</h2>

  <label for="adminToken" class="sr-only">Admin Code</label>
  <input type="text" id="adminToken" name="adminToken" class="form-control" placeholder="Admin Code" required autofocus>
  <br/>
  
  <button class="btn btn-lg btn-default btn-block" type="submit">Verify</button>
</form>
