

<br />
<br />
{{> navcontest}}

<br />
<br />

<style>
	.probs{
		display: grid;
		grid-template-columns: 2fr 1fr;
		
		
		width: 85%;
	}
	.sec{
		padding:20px;
		text-align: center;
		justify-content: center;
	}
</style>
	
	
	<div class = "container">
		<div class = "row">
			<div class="col-sm-9" style="border-right: 2px solid #343A40">
				<h5 align="left" id = "pt"></h5>
				<div id = "list">
					<img src="/big.gif" width="100%" />
				</div>
			</div>
		
			<div class = "col-sm-3">
				<b id = "status"></b>
				<br />
				<l id = "rank"></l>
				<br />
			</div>
		</div>
	</div>

<script>
	$(document).ready(function(){
		var path = window.location.pathname;
		path = path.split('/');
		var code = path[path.length - 2];
		console.log(code);
		$.ajax({
            url: '/contests/queslist/'+code,
            success: function(res) {
				console.log(res);
				$('#pt').html('');
				$('#pt').append(res.pt);
				$('#pt').append('<hr color = "black" width="100%" style="margin-left:0px;">');
				
				$('#status').html('');
				$('#status').append('<center>'+res.CStatus+'</center>');
				$('#status').append('<hr color = "black" width="100%">');
				

                var list = $('#list'), x='';
                list.html('');
				res.CProblems = res.CProblems || [];
                
				var i=1;
                res.CProblems.forEach((qu) => {
                    x+=('<tr><td>'+i+'</td><td><a id="queslink" href="/contests/contest/'+code+'/quespage/prob/'+qu[0]+'">'+qu[0]+'</a></td><td>'+qu[1]+'</td><td>'+qu[2]+'</td><td>'+qu[3]+'</td></tr>');
					i++;
                });
				if(res.CProblems.length>0){
					list.append('<table class="quespage-table"><tr><th style="width:10%">S. No.</th><th style="width:70%">Problem</th><th>Time</th><th>Memory</th><th style="width:15%">Score</th></tr>'+x+'</table>');
				}

				$('#rank').html('');
				if(res.CProblems.length>0){
					$('#rank').append('<center><a id="ranklist" href = "/contests/ranklist/{{CCode}}">Ranklist</a></center>')
				}
            }
        })
	})
</script>
	
