{{> navcontest}}	



	<h4>Output:</h4>
	{{result}}

	<h3>Submit Your Code</h3>
	<form method="POST">
		<h3>Code</h3>
		<textarea rows="17" cols="100" id="code" name="code" ></textarea> 


		<br/>

		Language : <select name="lang">  
		  <option value="C++">C++</option>
		  <option value="C">C</option>
		  <option value="Java">Java</option>  
		  <option value="Python">Python</option> 
		</select>

		<br />

		<input type="submit" value="Submit"  name="submit" />
		
	</form>
